html{
  height: 100%;
  width: 100%;
}

body {
  font-family: 'PT Mono', monospace;
  color: white;
  text-align: center;
  font-size: 20px;
  min-height:  100%;
  width: 100%;
  position: relative;
  padding-bottom: 60px;
  
  background: #C33764; 
  background: -webkit-linear-gradient(to left, #009799 , #660066); 
  background: linear-gradient(to left, #009799 , #660066); 
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

form {
  margin-top: 20px;
}

.bgRow {
  /*background-color: #009799;*/
}

.footer{
  padding: 10px;
  position: absolute; 
  left: 0; 
  right: 0; 
  bottom: 0;
  font-size: 14px;
  background-color: black;

  box-shadow: 0 -2px 2px 0 black;
}

.cardOuter {
  /*background: linear-gradient(to bottom, rgb(0, 121, 119) 0%, rgb(0, 151, 153) 15%, rgb(0, 151, 153) 85%,rgb(0, 121, 119) 100%);
  padding: 10px; */
  /*box-shadow: -2px -1px 1px 1px #007977;*/
  padding: 10px;
  color: white;
  margin: 0 auto;
}

#bottomCardOuter {
    margin: 40px 0 20px 0;
    text-align: center;
}

#card {
  min-height: 240px;
}

#cardHold {
  margin-top: 20px;
  padding: 20px;
  min-height: 240px;
}

#center {
    margin: 0 auto;
}

.space {
  margin-top: 10px;
}

#imgHolder {
    margin: 0 auto;
    text-align: center;
  
}

.hold {
  display: inline;
}

.bg {
  background: -webkit-radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 0.4) 65%, rgba(255, 255, 255, 0.0) 75%);
}

.icon {
  height: 40px;
  padding: 5px;
}

.links {
  margin: 0 15px 0 15px;
  color: white;
}

.links:hover, .links:active, .links:focus {
  text-decoration: none;
  color: 
}

#loader {
    position: absolute;
    left: 50%;
    margin-left: -70px;
    top: 15%;
    font-size: 140px;
    color: rgba(255, 255, 255, 0.9);
    visibility: visible;
}

#mainBody {
    visibility: hidden;
}

#wunderImg {
  width: 90px;
  padding-bottom: 5px;
  margin: 0 20px 0 20px;
}

@media only screen and (min-width : 800px) {
    #cardHold {
      margin-left: 50px;
    }
    #bottomCardOuter {
      margin-right: 50px;
    }
}

 @media only screen and (min-width : 992px) {
    #cardHold {
      margin-left: 100px;
    }
    #bottomCardOuter {
      margin-right: 100px;
    }
}

@media only screen and (min-width : 1200px) {
  #cardHold {
      margin-left: 200px;
    }
  #bottomCardOuter {
      margin-right: 200px;
    }
}

