<div class="col-3-md col-6-sm">

  <div>
   <h3>{{}}</h3> <!-- date -->
   <h3>{{}}</h3> <!-- time -->
  </div> 
  
  <div class="row">
    <div class="col-xs-6">
      <h2>Day</h2>
    </div>
    <div class="col-xs-6">
      <h2>Night</h2>
    </div>
    
  <div class="row">
     <div class="col-xs-6">
      <img src="{}" />
    </div>
    <div class="col-xs-6>
        <img src="{}" />
      </div>
      
   <div class="row">
    <div class="col-xs-6">
      <h2>{{}}</h2> <!-- description -->
    </div>
    <div class="col-xs-6">
      <h2>{{}}</h2> <!-- description -->
    </div>
    
  <div class="row">
    <div class="col-xs-6">
      <h2>High: {{}}</h2>
    </div>
    <div class="col-xs-6">
      <h2>Low: {{}}</h2>
    </div>

  </div>
  </div>
  </div>
  </div>
</div>
